    <div class="about-hospital-pic"></div>
    <div class="about-text">
        <b>TELIGATI MEDICAL COLLEGE & HOSPITAL</b><br><br>
        Opening its doors in August 2006 and situated beside the picturesque Khulna,
        this hospital is one of the largest private sector healthcare facilities in Bangladesh.
        TMCH has the capacity to house over 500 patients and has 12 state of the art operation
        theatres to cater to the needs of varied patient base.With more than 30 clinical sub specialties, our centres
        of Excellence like Cardiac, Cancer, Renal, Surgical, Neuroscience, Mother & Child Health and Critical Care Centres
        are staffed by the most esteemed doctors in their respective fields.<br><br>
        Since inception till date (July 2021) we have
        conducted 420,000 Cardiac Investigations, 55,000 Cardiac Procedures, 14,000 Heart Surgeries with 98% success rate,
        39 Kidney Transplant, 295,000 Haemodialysis, 185,000 Radiation Therapy Sessions & 196,000 Health Checkups completed.
        United Hospital has pioneered in many endeavors and has achieved many breakthrough milestones. Transcatheter Aortic
        Valve Implant (TAVI) procedure for Aortic Stenosis patients, first of its kind in Bangladesh was conducted in United
        Hospital Cardiac Centre, which also prides itself with the lone & pioneer iGS 520 Hybrid Cardio-Neuro Cathlab of
        the country. The hospital Pathology Laboratory received ISO 15189:2012 Accreditation, as the first hospital of the
        country. The comprehensive Cancer Care Centre of the hospital has the country’s only Medical Cyclotron to produce
        radioactive tracer isotope for all centres of the country; it also has the first & only TrueBeam Linear
        Accelerator providing accurate radiation to ensure less timed precise therapy with minimal side effect.<br><br>
        United Hospital Renal Centre added Hemo Diafiltration & Bio impedance technology, first time in the country,
        for patients suffering from kidney diseases. The 3.0T Signa Pioneer Wide Bore MRI in its Radiology & Imaging
        Centre is also first of its kind in the country.At United Hospital, providing our patients with a trusted and
        compassionate environment for healthcare is central to our mission. We draw strength from our purpose, which
        is above all to help and to heal. Our physicians, nurses and other caregivers & supporting staff are passionate
        about providing the right care at the right time, bringing hope and healing to our patients and their families.
        Patients trust us with their most valuable possession – their lives - and all of our caregivers recognize the
        immense responsibility that comes with that trust.
    </div>
    <div class="about-text">
        <b>OUR SERVICES</b><br>
        <table style="width:100%">
            <tbody>
                <tr>
                    <td><span style="font-size:14px">a) Flat Panel Digital Cathlab</span></td>
                    <td><span style="font-size:14px">n) 24 hour ambulance Service</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">b) Modular Operation Theatres</span></td>
                    <td><span style="font-size:14px">o) 24 hour Angioplasty for Heart attack patients</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">c) Critical Care (ICU/CCU/HDU/CICU/KTICU/NICU/PICU) beds &nbsp;</span></td>
                    <td><span style="font-size:14px">p) Cardiac Surgeries</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">d) Fresenius 4008S Dialysis Units</span></td>
                    <td><span style="font-size:14px">q) Total Knee and Hip Replacement and Arthroscopy Surgeries</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">e) Multifiltrate CRRT for critically ill patients</span></td>
                    <td><span style="font-size:14px">r) Kidney Transplant</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">f) PET-CT Scan</span></td>
                    <td><span style="font-size:14px">s) Critical Brain &amp; Spinal Surgeries</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">g) Medical Cyclotron</span></td>
                    <td><span style="font-size:14px">t) Endoscopy Facility</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">h) Linear Accelerator</span></td>
                    <td><span style="font-size:14px">u) Digital Mammography</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">i) Spect-CT</span></td>
                    <td><span style="font-size:14px">v) Mobile X-Rays</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">j) 500 Slice CT Scanner</span></td>
                    <td><span style="font-size:14px">w) EEG and EMG Machines</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">k) High Definition MRI System 1.5 T</span></td>
                    <td><span style="font-size:14px">x) Central Sterilization supply Facilities (CSSD)</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">l) 24 hour Emergency Service</span></td>
                    <td><span style="font-size:14px">y) CCTV facility for the whole hospital</span></td>
                </tr>
                <tr>
                    <td><span style="font-size:14px">m) 4D Portable Ultrasound</span></td>
                    <td><span style="font-size:14px">z) Blood Bank</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="about-text">


            <b>We Are Committed To:</b><br>
            <div class="post_content_description">
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Quality</strong></td>
                            <td><strong>Caring for the Community</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Operating at the highest standards of safe and ethical practices and demonstrating continuous improvement</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Promoting health and providing care based on a commitment to well being of the patients</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Effectiveness</strong></td>
                            <td><strong>Caring for the Staff</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Selecting the most appropriate services to produce the desired health outcome</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Caring for the health of our staff and developing a culture of trust, and training for personal and professional growth</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Integration</strong></td>
                            <td><strong>Research &amp; Training</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>Providing clear pathways by ensuring collaboration, consultation, effective communication with health service providers</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Providing an environment that promises personal development, learning and research</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p>Within this short period of time TMCH is proud to have set the standard of health care as well as patient care in Bangladesh. We do not intend to set on this but will continuously endeavour to serve our community in a better way. So if you are looking for the best possible treatment available with the best doctors, make your way to TMCH and be prepared to be swept away with care and respect. After all the hospital believes that “taking time to protect your health, now can make the difference in how good you feel tomorrow".</p>
            </div>






        </div>
    </div>