<div class="contact">
    <div class="contactc" style=" font-size:20px">
        <h5 style=" font-size:25px">APPOINTMENT PHONE NUMBER:</h5> <br><br>
        10445<br>
        08 54 55 53 990<br><br>
    </div>
    <div class="contactc" style=" font-size: 20px">
        <br><br>
        <h5 style=" font-size:25px">EMERGENCY?</h5><br>
        +880 1914 001234<br><br>
    </div>
    <div class="contactc">
        <br>
        <h1>SOCIALS</h1>
        <br><br>
        <a href="#" style="color: rgb(91, 89, 221); font-size: 50px;"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;
        <a href="#" style="color: rgb(221, 89, 89); font-size: 50px"><i class="fa-brands fa-square-google-plus"></i></a>&nbsp;&nbsp;
        <a href="#" style="color: rgb(89, 217, 221); font-size: 50px"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="contactc">
        <h5>LOCATION</h5>
        <div class="footer-left">
            <h5>Teligati Medical College &amp; Hospital</h5>
            plot 12, Road 23, Teligati<br>
            Khulna 2313, Bangladesh<br><br>

            <h5>KHULNA INFO CENTER</h5>
            plot 23, New Market Road<br>
            KHULNA<br>
            Cell: 01813 00 43 99<br><br>
        </div>
    </div>
</div>