
    <div class="login_parent" id="home_login_parent">
        <div class="login_left" id="home1">
            A smarter Hospital Towards More Accessable Care for All
        </div> 
    </div>
    <div class="ambulance">
        <p id="emergency">
            EMERGENCY!!
            <span style="font-size: 28px;color: rgb(255, 255, 255);">Need an AMBULANCE??<br></span>
        </p>
        <p class="call">
            <i class="fa-solid fa-phone" style="padding-right: 18px;padding-left: 20;padding-right: 10px;">&nbsp;&nbsp;&nbsp;Call Now</i>
            <br>+88 87 606 7734 33
        </p>
    <img src="~/img/ambulance2.jpg" class="ambulancepic">
    </div>
<div class="home2">
    <div id="doctortitle" style="color: rgb(0, 0, 0);">
        <b style="color: rgb(0, 0, 0); font-size: 23px;"><br><br>OVER 100<br>ADVANCED MEDICAL FACILITIES</b><br><br>
        <br>State of the art technology and expertise combined
        with the support of our friendly staff, we strive each day
        to be the top healthcare provider, not only in Bangladesh but
        within the Asia-Pacific region.
    </div>
    <div class="doctor2">
        <img src="~/img/covid.jpg" id="docimage">
        <br><b>ADVANCED CARE AND ISOLATION UNIT FOR CONTAGIOUS DISEASES LIKE COVID-19</b><br>
        A large unit with sufficient number of beds, doctors & modern technologies to fight against contagious diseases.
    </div>
    <div class="doctor2">
        <img src="~/img/xray.jpg" id="docimage">
        <br><b>ADVANCED X-RAY TECHNOLOGY</b><br>
        The XFEL generates these extremely bright and ultrashort pulses of light at a rate of up to 27,000 pulses per second, which is 200 times faster than other x-ray lasers
    </div>
    <div class="doctor2">
        <img src="~/img/rehabitation.jpg" id="docimage">
        <br><b>PHYSICAL MEDICINE AND REHABILITATION CARE USING A PATIENT-CENTRED APPROACH</b><br>
        Physical medicine and rehabilitation also known as "physiatry" or rehabilitation medicine.
    </div>
    <div class="doctor2">
        <img src="~/img/mri.jpg" id="docimage">
        <br><b>ADVANCED 3T MRI TECHNOLOGY </b><br>
        With our 3T MRI, we can produce more detailed images of even the most intricate parts in your body. More detailed images can allow us to identify tiny lesions.
    </div>
    <div class="doctor2">
        <img src="~/img/ultrasonography.jpg" id="docimage">
        <br><b>THE LATEST 4D SONOGRAPHY</b><br>
        The latest sonography software brings a whole new dimension to ultrasound exams: time.
    </div>
    <div class="doctor2">
        <img src="~/img/ctscan.jpg" id="docimage">
        <br><b>LATEST CT-SCAN TECHNOLOGY</b><br>
        The latest photon counting CT is used to image injured parts of patients body.
    </div>
    
</div>
    <div class="home1">
        <div id="doctortitle">
            <b style="color: rgb(255, 255, 255); font-size: 23px;"><br><br>OVER 100<br>MULTI-DISCIPLINARY SPECIALISTS</b><br><br>
            <br>State of the art technology and expertise combined
            with the support of our friendly staff, we strive each day 
            to be the top healthcare provider, not only in Bangladesh but 
            within the Asia-Pacific region.
        </div>
        <div class="doctor">
            <img src="~/img/souhardo.jpg" id="docimage">
            <br><b>DR. HASAN MAHMUD</b><br>
            Senior Consultan<br>
            NEUROLOGY<br>
            MBBS, DTM&H (UK), MD (USA) Board Certified in Neurology (USA)
        </div>
        <div class="doctor">
            <img src="~/img/ifti.jpg" id="docimage">
            <br><b>DR. IMAMUL ISLAM</b><br>
            Senior Consultan<br>
            ENDOCRINOLOGY & METABOLISM<br>
            MBBS, DEM (Diploma in Endocrinology & Metabolism), MD (Endocrinology & Metabolism)
        </div>
        <div class="doctor">
            <img src="~/img/rakib.jpg" id="docimage">
            <br><b>DR. RAKIB MAHBUB</b><br>
            Senior Consultant<br>
            NUCLEAR MEDICINE<br>
            MBBS, DNM (DU), FNM (US)
        </div>
        <div class="doctor">
            <img src="~/img/arafat2.jpg" id="docimage">
            <br><b>DR. FERDAUS ARAFAT</b><br>
            Junior Consultant<br>
            NUCLEAR MEDICINE<br>
            MBBS, DNM (DU), FNM (UK)
        </div>
        <div class="doctor">
            <img src="~/img/tuba.jpg" id="docimage">
            <br><b>DR. NUSRAT JAHAN</b><br>
            Senior Consultant<br>
            GYNECOLOGY<br>
            MBBS, FCPS (Med)
        </div>
        <div class="doctor">
            <img src="~/img/sadi.jpg" id="docimage">
            <br><b>DR. SAYED NAZIB</b><br>
            Senior Consultant<br>
            DERMATOLOGY<br>
            MBBS, DDV (DU)
        </div>
        <a asp-area ="" asp-controller="Category" asp-action="Index" class="doctor" id="moredr">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p style="font-size: 33px; color: white; text-align: center;background-color: rgba(0, 0, 0, 0.459);text-decoration: none;margin-left: 53px;padding-left: 18px;padding-right: 18px;">More <i class="fa-solid fa-arrow-right"></i></p>
        </a>
    </div>
