@page
@model ForgotPasswordModel


<h1>@ViewData["Title"]</h1>
<h2>Reset Password</h2>
<hr />
<div>
    <div class="login_left" style="text-align:center;margin-left: 0px; padding:40px 100px; background-color:rgba(240, 180, 255, 0.4);">
        <form method="post">
            <div asp-validation-summary="ModelOnly" role="alert"></div>
            <div >
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" style="background-color: transparent; border:none; border-bottom: solid  black" />
                <span asp-validation-for="Input.Email"></span>
            </div>
            <button type="submit" >Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
